body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  #breadcrumb {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .breadcrumb-item {
    flex: 1;
  }
  
  .middle {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }
  
  #container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  /* Profile button */
.profile-btn {
    background-color: #fff;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Style the profile button on hover */
  .profile-btn:hover {
    background-color: #f9f9f9;
  }
  
  #topics {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .topics-container {
    width: 45%;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
  /* Dropdown button */
.dropbtn {
    background-color: #fff;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Adjust appearance of dropdown links */
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f9f9f9;
  }
  
  
  .topics-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .middle img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
  }
  
  h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .completed {
    color: green;
  }
  
  .requested {
    color: blue;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
  }
  